<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p> <a href="#">Bootstrap Made By Ravi</a> <a href="http://www.inoesissolutions.com/" rel="noopener norreferrer" target="_blank">Powered By i-Noesis Solutions</a></p>

</footer>