<header>
   <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Clean City</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">ABOUT</a></li>
      <!--    <li><a href="#contact">CONTACT</a></li>-->
      <li><a href="resident.do?action=frontresident">RESIDENTREGISTRATION</a></li>
        <li><a href="login.do?action=loginview">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>

